<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<!-- PUT YOUR CODE HERE TO SHOW THE DATA-->

    {{range .}}
        {{.Name}}
        {{.Region}}
        {{.City}}
        {{.Zip}}
    {{end}}

</body>
</html>