<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>index method</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>


    <p>Words: {{index .Words 0}}</p>
    <p>Words: {{index .Words 1}}</p>
    <p>Words: {{index .Words 2}}</p>
    <p>Words: {{index .Words 3}}</p>
    <p>Words: {{index .Words 0}}</p>
    <p>last name: {{index .Lname}}</p>

</body>

</html>