<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        {{if .}}
        <main>
            <p><strong>Variable Names: </strong> (Identifiers) and <em>values</em>:</p>
            {{range $key, $value := .}}
                <p><strong>{{$key}}</strong></p>
                <ul>
                    <p>{{range $key, $value := .}}</p>

                    <li><em>{{.}}</em></li>
                    
                    {{end}}
                </ul>
                {{end}}
        </main>
        {{end}}
        {{range $key, $value:= .}}
          value:  {{$value}} <br>
            key: {{$key}} <br>
        {{end}}
        <form action="/?fname=bond" method="POST">
            <input type="text" name="fname" placeholder="first name" autofocus autocomplete="off">
            <input type="submit" name="submit-btn" value="onda button">
        </form>
    </body>
</html>

