<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Modularize</title>
</head>
<body>
    <h1>{{.}}</h1>
    <!-- calls a template based on the declared definition inside the file, not the actual file name. This allows you to write several templates into one file, and export them as globs -->
    <p>{{template "polarbear"}}</p>
</body>
</html>